# Regular Client Letter

Delivered electronically

Kyle Mitchell, attorney  
725 Washington Street \#203  
Oakland, California 94607  
United States of America  
kyle@kemitchell.com

{{{date}}}

{{{company_legal_name}}}  
Attention: {{{signatory_first_name}}} {{{signatory_last_name}}}  
{{#address}}
{{.}}  
{{/address}}

{{{signatory_first_name}}}:

{{{introduction}}}

Legally speaking, once you sign it back to me, this letter will be a binding agreement, or contract, for my legal services.  That agreement will rest on the foundation of the special rules that govern my work as a lawyer.  To be clear, I am not {{company_possessive}} lawyer until we have all signed this letter.

It is almost always best to get the details of this kind of relationship down in words that everyone understands.  To that end, I've done my best to write this letter clearly, without legalese.  If any part of this letter is unclear to you, let me know.  We should make it clear.  Of course, if any questions come up later, please let me know as soon as possible.

Our terms are as follows:

I commit to represent and assist {{{company_legal_name}}}, the business, as legal counsel.  I do not commit to represent any officer, member, employee, contractor, or other individual related to the company.  In other words, this letter will make me {{{company_possessive}}} lawyer, but not your personal lawyer or anyone else's personal lawyer.  If there is ever any conflict between {{company_name}} and a person involved with {{{company_name}}}, I will represent, and be professionally responsible to, {{{company_name}}}.

I may represent {{company_name}} in matters related to commercial contracting, intellectual property, legal organization, governance, compliance, and business law more generally.  Feel free to contact me if {{company_name}} has other legal needs, like representation in litigation.  But I am not committing to represent {{company_name}} in such matters now.

From time to time I may want to use outside help to do legal work more efficiently or effectively.  I may use other lawyers and non-lawyer staff to help me.

Regardless, the legal services and advice I provide will be only as useful as the information provided to me is complete, accurate, and up-to-date.  {{{company_name}}} will do its part to provide me good information when I need it.

In exchange for my services, {{{company_name}}} will pay my fees and approved expenses.

{{{company_name}}} will pay a flat fee for my services during each calendar month, regardless of the amount of time I spend, or the kinds of legal projects I handle.  For the remainder of the month of January, as a trial period, {{{company_name}}} will pay a discounted and prorated introductory fee of {{{first_month_fee}}}.  Before February 1, 2018, we will discuss and agree to a flat fee per whole month going forward, based on our experience in January, estimates of the amount of my time Discourse will require, the scope of my responsibilities, the kinds of work I will do, and how we will work together.

At any time after that, we may agree to a different monthly fee in writing.  Any new fee will apply to months going forward, but not the current month or any month past.

I may incur expenses, like filing fees, postage, and costs of extraordinary travel, for {{{company_possessive}}} benefit.  I will notify {{{company_name}}} when I expect to incur an expense, and {{{company_name}}} will reimburse me for expenses that it approves ahead of time.  I may require {{{company_name}}} to advance estimated expenses, and I won't have to pay any expenses for {{{company_name}}} that {{{company_name}}} doesn't agree to pay or advance.

I will bill {{{company_name}}} for fees and expenses at the end of each calendar month.  {{{company_name}}} will pay all bills by bank transfer, according to payment instructions I provide, within thirty calendar days of receipt.  {{{company_name}}} will increase the amount of any bill payment to me to offset costs and fees or bank transfer or {{{company_name}}} billing or payment systems.

Lawyers are subject to rules, called conflict of interest rules, that prevent them from representing clients with certain kinds of competing interests, especially when they may have received confidential information from one client that's useful to another.  I have checked my records and concluded that representing {{{company_name}}} won't cause any conflict-of-interest problem under the rules governing California attorneys like me.  That being said, if I discover a conflict in the future, {{{company_name}}} will assist, within reason, to help me resolve the conflict to the satisfaction of all involved.  As a general matter, {{{company_name}}} will not prevent me from representing other clients that may compete with {{{company_name}}} or perform similar activities to {{{company_possessive}}}.

Pursuant to California Rule of Professional Conduct 3-410, I am informing you in writing that I do not have professional liability insurance.  If you have any questions about what that means, or how it might affect {{{company_name}}}, please let me know before signing this letter.  Going forward, always feel free to contact me directly about matters concerning the professional, financial, or other aspects of our relationship.  It is part of my job to help you understand mine, and how to use legal services efficiently and effectively.

{{{company_name}}} can end our attorney-client relationship at any time, and I reserve the right to stop work on any legal matter at any time. I can withdraw from our attorney-client relationship when doing so won't have a significant negative effect on {{{company_name}}}, or when necessary to avoid ethical issues.  Otherwise, I'll need {{{company_possessive}}} consent to withdraw.

If we decide to change these terms in the future, we will write out the changes and sign them.  No other changes will count.

Please feel free to phone me at 510-712-0933 or e-mail me at kyle@kemitchell.com if you have any questions.  Again, thanks so much for the opportunity to assist.

<br><br><br><br>  
Kyle Mitchell, attorney

---

{{{company_name}}} agrees to the terms of this engagement letter.

{{{company_legal_name}}}, a {{{company_legal_form}}}<br><br><br><br>
{{{signatory_first_name}}} {{{signatory_last_name}}}  
{{{signatory_title}}}

{{#copies}}
CC: {{.}}

{{/copies}}
