html {
  background: white;
  font-family: sans-serif;
  line-height: 1.4;
}

body {
  margin: 2rem;
}

header, main, footer {
  margin: 1rem auto;
  max-width: 30rem;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.available, .unavailable, .info {
  border-radius: 0.25rem;
  padding: 1rem;
}

.available {
  background: #dff0d8;
}

.unavailable {
  background: #f2dede;
}

.info {
  background: #d9edf7;
}

h1, h2 {
  margin-top: 3rem;
}

footer {
  border-top: 1px solid black;
  margin-top: 3rem;
}
